<div class="no-contents d-flex flex-column align-items-center justify-content-center mx-auto">
  <div class="no-contents-title font-weight-bold">投稿がありません</div>
  <div class="no-contents-explanation text-center">あなた自身の投稿や、あなたがフォローしたユーザーの投稿がここに表示されます。</div>
</div>