<% provide :title, "ROOMERって？" %>

<div class = 'about-wrapper'>
  <!-- first-section -->
  <section id="first">
    <h2>自分の部屋を記録しよう！</h2>
    <p>
      ログインして、あなたの自慢の部屋を投稿しよう！<br>
      「コメント」や「いいね」機能を使って、部屋やインテリアについて語り合いましょう。
    </p>
    <div class="left">
      <%= image_tag('first-section.png')%>
    </div><br />
  </section>

  <!-- second-section -->
  <section id="second">
    <h2>気になったインテリアを近くのインテリアショップに買いに行こう！</h2>
    <p>
      他の人が投稿した写真に写っている商品（アイテム）の情報を知ることができます。<br>
      また、近くのインテリアショップを検索できます。<br>
    </p>
    <div class="left">
      <%= image_tag('second-section.png')%>
    </div><br />
  </section>
</div>