<% provide :title, "ROOMERって？" %>
<div class = 'about-wrapper'>
  <div class="about-container">
    <h1>ROOMERって？</h1>
    <p>
      ログインして、あなたの自慢の部屋を投稿しよう！<br>
      「コメント」や「いいね」機能を使って、部屋やインテリアについて語り合いましょう。<br>
    </p><br />
    <p>
      また、気になるインテイリアがある場合は、<%= link_to "こちら", map_path, :style=>"color:red;" %>から近くのインテリアショップを検索できます。<br>
      オシャレな家具を買って、自慢の部屋を投稿しよう！
    </p>
  </div>
</div>
