<%= form_for([post, comment]) do |f| %>
  <div class="field form-group">
    <%= f.text_area :content, size: "40x2", placeholder: "公開コメントを入力..." %>
  </div>
  <%= f.submit "送信", class: "btn comment" %>
<% end %>
