<% provide(:title, "近くのインテリアショップ検索") %>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GMAP_API_KEY'] %>&libraries=places&callback=initMap" async defer></script>

<div id="gmap" style="height:725px; width:100%"></div>
 
<script>
function initMap() {
  var target = document.getElementById('gmap');  
  var tokyo_station = {lat: 35.681167, lng: 139.767052};
  var map = new google.maps.Map(document.getElementById('gmap'), {
    center: tokyo_station,
    zoom: 15
  });

  //情報ウィンドウ
  var infowindow = new google.maps.InfoWindow();

  //PlacesService
  var service = new google.maps.places.PlacesService(map);

  if(!navigator.geolocation){ 
    infowindow.setPosition(map.getCenter());
    infowindow.setContent('Geolocation に対応していません。');
    infowindow.open(map);
  }

  //ブラウザが対応している場合、position にユーザーの位置情報が入る
  navigator.geolocation.getCurrentPosition(function(position) { 
    var pos = {  
      lat: position.coords.latitude,
      lng: position.coords.longitude
    };
    infowindow.setPosition(pos);
    infowindow.setContent('現在位置を取得しました。');
    infowindow.open(map);
    map.setCenter(pos);

    //種類（タイプ）やキーワードをもとに施設を検索（プレイス検索）するメソッド
    service.nearbySearch({
      location: pos,
      radius: 1000,
      type: ['furniture_store']
    }, callback);

    //コールバック関数には results, status が渡されるので、status により条件分岐
    function callback(results, status) {
      if (status === google.maps.places.PlacesServiceStatus.OK) {
        for (var i = 0; i < results.length; i++) {
          createMarker(results[i]);
        }
      }
    }
  }, function() {
    infowindow.setPosition(map.getCenter());
    infowindow.setContent('位置情報の利用が許可されていません');
    infowindow.open(map);
  });   

  //マーカーを生成する関数（引数には検索結果の配列 results[i] が入ってきます）
  function createMarker(place) {
    //var placeLoc = place.geometry.location; 
    var marker = new google.maps.Marker({
      map: map,
      position: place.geometry.location  //results[i].geometry.location
    });

    //マーカーにイベントリスナを設定
    marker.addListener('click', function() {
      infowindow.setContent(place.name);  //results[i].name
      infowindow.open(map, this);
    });
  }
}

</script>