<% provide :title, "あなたへの通知" %>
<% notifications = @notifications.where.not(visitor_id: current_user.id) %>
<div>
  <% if @notifications.exists? %>
    <div class="users-index">
      <%= render @notifications %>
      <div class="notification-footer">
        <%= paginate @notifications %>
      </div>  
    </div>
  <% else %>
    <p>通知はありません</p>
  <% end %>
</div>