<div class="user-delete-link">
  <%= link_to @user, class: "btn-square", method: :delete, data: { confirm: "本当に退会させてもよろしいですか？", cancel: 'キャンセル', commit: '退会させる' } do %>
    <i class="fas fa-user-slash"></i> 強制退会
  <% end %>
</div>