<% group.each do |user| %>
  <div class="user-card d-flex align-items-center">
    <div style="width: 100%">
      <!-- ユーザーカード：アバター -->
      <div class="d-flex align-items-end justify-content-center mb-3">
        <% if user.avatar? %>
          <%= link_to image_tag(user.avatar.url,
                                class: "#{ "logged_in" if user_signed_in? && !current_user.admin? } rounded-circle z-depth-0",alt: "avatar image"), user_path(user.id) %>
        <% else %>
          <%= link_to image_tag("no_user.png",
                                class: "#{ "logged_in" if user_signed_in? && !current_user.admin? } rounded-circle z-depth-0", alt: "avatar image"), user_path(user.id) %>
        <% end %>
      </div>
      <!-- ユーザーカード：名前とユーザーネーム -->
      <div class="user-card-names-container d-flex justify-content-center mb-2">
        <div class="user-card-names text-center">
          <div class="user-username"><%= user.user_name %></div>
        </div>
      </div>
    </div>
  </div>
<% end %>