<div class="edit-profile-link">
  <%= link_to edit_profile_path, class: "btn-square", data: {"turbolinks" => false} do %>
    <i class="fab fa fa-edit"></i> プロフィール編集
  <% end %>
</div>
<div class="user-delete-link">
  <%= link_to registration_path(@user), class: "btn-square", method: :delete, data:
    { confirm: "本当に退会してよろしいですか？", cancel: 'キャンセル', commit: '退会する'}, title: '削除確認' do %>
    <i class="fas fa-user-slash"></i> 退会申請
  <% end %>
</div>