<div class="user-cards show-following row">
  <% if @users.any? %>
    <%= render 'users/user_cards', group: @users %>
  <% else %>
      フォロー関係にあるユーザーはいません
  <% end %>
</div><br />
<div class="show-following-footer">
  <%= paginate @users %>
</div>