<%= form_with(model: object.likes.build) do |f| %>
  <div><%= hidden_field_tag :post_id, object.id %></div>
  <%= button_tag(class: "btn like-sm rounded-pill d-flex d-sm-none align-items-center justify-content-center px-3") do %>
    <i class="far fa-thumbs-up" style="font-size: 1.1rem;"></i>
  <% end %>
  <%= button_tag(class: "btn like rounded-pill d-none d-sm-flex align-items-center justify-content-center px-3") do %>
    いいね！<i class="far fa-thumbs-up"></i>
  <% end %>
<% end %>