/* mixins, variables, etc. */
@import "bootstrap-sprockets";
@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

@mixin sm { @media (min-width: 576px) { @content; } }
@mixin md { @media (min-width: 768px) { @content; } }
@mixin lg { @media (min-width: 992px) { @content; } }

$color-black: #212529;

/* universal */
a {
  color:rgb(46, 46, 46);
}
a:hover { 
  color: #999;
  text-decoration: none;
}

button, textarea, select {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.container {
  max-width: 960px;
}
.text-left {
  text-align: left;
  padding-top: 20px;
}
.rounded-circle{
  border-radius: 50% !important;
}

/* modal */
.modal-dialog {
  .modal-header {
    border-bottom: none;
    text-align: center;
    padding: 5px;
    background-color: #fbe41c;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }
 
  .modal-title,
  button.close {
    display: none;
  }
 
  .modal-body {
    text-align: center;
    font-size: 20px;
    padding: 30px 0 5px;
  }
 
  .fa-exclamation-circle:before {
      color: #fbe41c;
      font-size: 40px;
      padding: 5px;
      position: relative;
      top: 5px;
  }
 
  .modal-footer {
    border-top: none;
  }
  
  .btn-danger {
    background-color: #f97773;
    border-color: #f97773;
  }
}
/*
.modal-body {
  font-size: 1.1rem;
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 2rem;
}
.modal-footer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 0.5rem;
  border-top: 1px solid #dee2e6;
  border-bottom-right-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}
*/
ul, ol {
  list-style: none;
}
.btn {
  font-size: 0.8rem;
  font-weight: 700;
  min-width: 100px;
  height: 32px;

  &.follow {
    background-color: rgb(223, 86, 86);
    color: #fff;
  }

  &.unfollow {
    background-color: rgba(0, 0, 0, 0.1);
    color: rgb(223, 86, 86);
  }

  &.comment {
    background-color: #b4b8bd;
    color: #fff;
  }
}

/* pagination */
.pagination {
  padding-left: 37%;
}
.pagination>li>a {          
  border: none;
  color: #696969;
}
.pagination>.active>a {     
  background: rgb(223, 86, 86);
  border-radius: 15px;
}
.pagination>li>a:hover {        
  border-radius: 15px;
}

/* header */
.wrapper{
  min-width: 100rem;
  -webkit-box-shadow: 0 0.1rem 0 0 rgba(0,0,0,.09);
  box-shadow: 0 0.1rem 0 0 rgba(0,0,0,.09);
  width: 100%;
  z-index: 500;
  top: 0;
  position: fixed;
  background: #FFFFFF;
}
.outer{
  max-width: 103.2rem;
  padding: 1.6rem;
  margin: 0 auto;
  height: 6.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header-logo{
  display: block;
  width: 136px;
  height: 47px;
}
.search{
  padding: 0 8rem;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  min-width: 31.9rem;
  padding-top: 6px;
}
.searchfield {
  height: 3.2rem;
  width: 90%;
  -moz-border-radius: 0.8rem;
  -webkit-border-radius: 0.8rem;
  border-radius: 0.8rem;
  border: solid 0.1rem #eae7e2;
  background-color: #fbfbfb;
  padding: 0 0 0 1rem;
  font-size: 1.4rem;
  box-sizing: border-box;
}
button.searchbtn {
  position: absolute;
  left: 730px;
  padding-top: 6px;
}
.btn-flat-border-registrer {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #431;
  border: none;
  border-radius: 3px;
  transition: .4s;
  padding-top: 7px;
}
.btn-flat-border-registrer:hover {
  background: white;
  color: 431;
}
.header-post{
  margin-right: 10px;
}
.register{
  padding: 5px;
}
.login{
  padding: 5px;
}
/* login */
.dropdown {
  position: relative;
  list-style: none;
}
.icon-img{
  height: 40px;
  width: 40px;
}

/* body */
body {
  padding-top: 100px;
  padding-bottom: 120px;
  min-height: 100vh;
  position: relative;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
.page-header {
  /*width: fit-content; */
  font-size: 1.8rem;
  padding-bottom: 9px;
  margin: 20px 0 20px;
  border-bottom: 1px solid #eeeeee;
  text-align-last: center;
}

/* footer */
footer {
  background: #f6f5f4;
  padding-top: 30px;
  text-align: center;
  height: 80px;
  color: #777;
  width: 100%;
  position: absolute;
  bottom: 0;
}
ul.footer li {
display: inline;
padding: 10px;
}

/* home */
.top-image{
  width: 70%;
  vertical-align: middle;
}
.btn-flat-border {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #431;
  border: solid 2px #431;
  border-radius: 3px;
  transition: .4s;
}
.btn-flat-border:hover {
  background: rgb(223, 86, 86);
  color: white;
}
.first{
  color: #000;
  font-size: 62.5%;
  width: 96rem;
  height: 38rem;
  margin: 0 auto;
  padding: 0;
  border-bottom: .1rem solid #d7cfc4;
  position: relative;
}
.second{
  color: #000;
  font-size: 62.5%;
  width: 96rem;
  margin: 0 auto;
  border-bottom: .1rem solid #d7cfc4;
  position: relative;
  padding: 10rem 0 0 0;
  height: 28rem;
  text-align: right;
}
img.img-fluid-home {
  height: 300px;
}
.home-header.d-flex.flex-column.align-items-center {
  text-align: -webkit-center;
}
.no-contents.d-flex.flex-column.align-items-center.justify-content-center.mx-auto {
  padding-top: 60px;
}
.home-contents {

  .home-header {
    background-image: url('top.png');
    background-size: cover;
    background-position: top center; 
    height: 430px;
    margin: 0 -15px 0px -15px;
    padding: 50px 0;
    color: #fff;
    position: relative;

    .home-catch {
      width: fit-content;
      font-size: 2rem;
      line-height: 45px;
      z-index: 2;
    }
    @include md {
      .home-catch {
        font-size: 4.5rem;
      }
    }
    
    .home-catch-link{
      cursor: pointer;
      color: #fff;
      font-size: 1.1rem;
      z-index: 2;
      &:hover {
        text-decoration-line: underline;
      }
    }
  }
  @include md {
    .home-header {
      border-radius: 0.45rem;
      margin: 0 5px 0px 5px;
      padding: 60px 60px;
    }
  }

  .post-cards-nav {
    height: 65px;
    margin: 15px -15px 0 -15px;
    padding: 0 20px;
    .post-cards-nav-header {
      font-size: 1.5rem;
      font-weight: 700;
    }
    @include md { .post-cards-nav-header { font-size: 1.8rem; } }

    .nav {
      padding-left: 20px;
    }

    .nav-link { color: #23272b }
    .nav-link.active {
      background-color: #23272b;
      color: #fff;
    }
  }
  @include md {
    .post-cards-nav {
      margin: 15px 5px 0 5px;
      padding: 0
    }
  }

  .post-cards {
    margin: 0 -5px;

    .post-card {
      padding: 0 10px;
      margin-bottom: 20px;

      .post-card-img {
        position: relative;
        img { border-radius: 0.25rem; }

        &::after {
          content: "";
          position: absolute;
          top: 0; left: 0;
          width: 100%; height: 100%;
          display: block;
          border: 1px solid rgba(0, 0, 0, 0.05);
          border-radius: 0.25rem;
          pointer-events: none;
        }
      }
    }

    .post-card-footer {
      padding: 10px 0;

      a:hover {
        text-decoration: none;
      }

      .post-footer-names {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        
        .post-footer-name {
          color: $color-black;
          
        }
        .post-footer-username {
          color: #aaaaaa;
          font-size: 1.5rem;
        }
      }
    }
  }
}

.feed-contents {

  .nav {

    &::after {
      content: "";
      position: absolute;
      top: 0; left: 0;
      width: 100%; height: 100%;
      display: block;
      border-radius: 0.25rem;
      z-index: 0;
    }
  }

  .nav-item {
    margin: 0;
    z-index: 1;

    &:first-child .nav-link.active {
      border-top-left-radius: 0.25rem;
      border-bottom-left-radius: 0.25rem;
    }

    &:last-child .nav-link.active {
      border-top-right-radius: 0.25rem;
      border-bottom-right-radius: 0.25rem;
    }
  }

  .nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    font-size: 0.8rem;
    border-radius: 0;
    padding: 0;
    color: $color-black;

    &.active { background-color: $color-black }
  }
  @include sm {
    .nav-link {
      font-size: 0.9rem;
      height: 40px;
      width: 60px;
    }
  }

  .no-contents {
    color: rgba(0, 0, 0, 0.4);
    height: 322px;
    width: 100%;

    .no-contents-title {
      margin-bottom: 0.5rem;
      font-size: 1.3rem;
    }

    .no-contents-explanation {
      max-width: 440px;
      font-size: 0.9rem;
      text-align: left;
    }
  }

  .following-posts-container {
    margin: 0 -15px;
  }
  @include sm {
    .post-container {
      margin: 0;
    }
  }

  .post-frame {
    margin: 0;

    .post-header {
      height: auto;
      padding: 1.25rem 15px 15px 15px;
      @include sm { & { padding: 1.25rem 0 15px 0 } }
      border-top: 1px solid #dee2e6;
    }
  
    .post-footer {
      padding-bottom: 1.25rem;
    }

    &:first-child {
      .post-header {
        padding: 1.5rem 15px 15px 15px;
        @include sm { & { padding: 2rem 0 15px 0 } }
        margin-top: 50px;
      }
    }

    &:last-child {
      .post-footer {
        padding-bottom: 2rem;
      }
      @include md {
        .post-footer {
          padding-bottom: 3rem;
        }
      }
    }
  }

  .home-post-cards {
    margin: 30px -5px 0 -5px;

    .post-card {
      padding: 0 10px;
      margin-bottom: 20px;

      .post-card-img {
        position: relative;
        img { border-radius: 0.25rem; }


      }
    }

    .post-card-footer {
      padding: 10px 0;

      a:hover {
        text-decoration: none;
      }

      .post-footer-names {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        
        .post-footer-name {
          color: $color-black;
          
        }
        .post-footer-username {
          color: #aaaaaa;
          font-size: 1.5rem;
        }
      }
    }
  }
}

/* tos */
.tos-wrapper {
  width: 88rem;
  margin: 4rem auto 8rem;
  padding: 2em 4em 1rem;
  overflow: auto;
  background: #fff;
  -webkit-box-shadow: rgba(0,0,0,.3) 0 0 0.6rem 0;
  box-shadow: 0 0 0.6rem 0 rgba(0,0,0,.3);
  color: #431;
}
h1.title.mb-4.text-center {
  padding-bottom: 20px;
}

/* about */
.about-wrapper {
  width: 88rem;
  margin: 4rem auto 8rem;
  padding: 2em 4em 1rem;
  overflow: auto;
  background: #fff;
  -webkit-box-shadow: rgba(0,0,0,.3) 0 0 0.6rem 0;
  box-shadow: 0 0 0.6rem 0 rgba(0,0,0,.3);
  color: #431;
}

/* devise */
.explanation {
  max-width: 440px;
  padding: 0 15px;
  text-align: center;
}

.error_explanation {
  max-width: 440px;
  margin: auto;
  padding: 0 15px;

  .error_header {
    width: fit-content;
    font-size: 1rem;
    font-weight: 700;
    @include sm { & { font-size: 1.1rem; } }
  }

  .alert {
    width: fit-content;
    font-size: 1rem;
    font-weight: 700;
    padding: 0;
    margin: 0 auto 2rem auto;
    @include sm { & { font-size: 1.1rem; } }
  }
}

.error_list {
  width: fit-content;
  padding-right: 20px;
  font-size: 0.9rem;
}

.custom-form {
  h3 {
    font-size:15px;			/*文字サイズ*/
    width:107px;			/*横幅*/
    padding:10px 0px 11px 18px;		/*パディング*/
    background-color:#bfbfbf;		/*背景色*/
    color:#ffffff;			/*文字色*/
    border-radius:3px;			/*角丸にする*/
  }
  padding: 10px 15px 0 15px;
  border-radius: 10px 10px 10px 10px;
  @media (min-width: 470px) { & { padding: 30px 250px 30px 250px; } }
  
  .container {
    max-width: 440px;
  }

  .form-title {
    font-weight: 700;
    font-size: 1.7rem;
  }

  @include sm {
    .form-title {
      font-size: 2rem;
    }
  }

  label {
    font-weight: 700;
    margin-bottom: 0rem;
  }

  .form-control {
    color: $color-black;
    width: 450px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $color-black;
    border-radius: 0;
    box-shadow: none;
    &:focus {
      color: $color-black;
      outline: 0;
      box-shadow: none;
    }
  }
  #profile_age {
    width: 110px;
  }
  #profile_floor_width {
    width: 225px;
  }
  #profile_name {
    width: 225px;
  }

  .input-group-text {
    padding: 0.375rem 0.15rem 0.375rem 0.75rem;
    color: rgba(33,37,41,0.5);
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $color-black;
    border-radius: 0;
  }

  .input-group-prepend + .form-control {
    padding: 0.375rem 0.125rem;
  }

  .input-group-prepend + .field_with_errors {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
  }

  .form-control.with-ig {
    padding: 0.375rem 0.125rem;
  }

  .forgot-password {
    font-size: 0.9rem;
  }

  p.note {
    font-size: 0.8rem;
  }

  .submit-btn {
    font-weight: 700;
    border-radius: 5px;
    border: 2px solid $color-black;
  }

  .image-submit-btn {
    width: 250px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
  }

  .upload-avatar-btn {
    height: 35px;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    font-size: 0.875rem;
  }

  .btn.disabled, .btn:disabled {
    opacity: 0.3;
  }

  textarea.form-control {
    height: 160px;
  }
  .pull-left {
    float: left !important;
  }
}
.edit-profile-link {
  padding-bottom: 20px;
}

/* index */
.row:before {
  content: none;
}
.container:before {
  content: none;
}
.user-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  padding: 0 15px;
  margin-bottom: 15px;
  @include sm { & { grid-template-columns: 1fr 1fr 1fr; margin-bottom: 25px; } }
  @include md { & { gap: 20px; padding: 0 20px; margin-bottom: 30px; } }
}
.user-card {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  height: 230px;
  @include md { & { height: 200px; } }
  padding: 13px 20px;
  overflow: hidden;

  img {
    margin-top: 12px;
    width: 110px; height: 110px;
    @include md { & { width: 150px; height: 150px; } }

    &.logged_in {
      margin-top: 0px;
      width: 90px; height: 90px;
      @include md { & { width: 120px; height: 120px; } }
    }
  }

  a {
    line-height: 20px;
    &:hover {
      text-decoration: none;
    }
  }

  .user-card-names-container {
    width: 100%;
    line-height: 23px;
  
    .user-card-names {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      .user-name {
        color: $color-black;
        font-size: 1.2rem
      }

      .user-username {
        color: rgba(0, 0, 0, 0.4);
        font-size: 1.5rem;
        text-align: left;
        padding: 10px 0 10px 20px;
      }
    }
  }
}

/* show */
#main {
  width: 98rem;
  padding: 0;
  overflow: auto;
  margin: 4rem auto 6rem;
}
#main .left {
  width: 41rem;
  float: left;
}
#main .right {
  width: 50rem;
  margin: 0 1rem 0 4rem;
  float: left;
  overflow: hidden;
}
#main .right #profile-photos {
  margin: 0 0 4rem 0;
  padding: 1rem 1rem 1rem;
  overflow: auto;
  background-size: contain;
  /* background-color: #f6f5f4; */
  position: relative;
}
.img-fluid-profile{
  width: 20.4rem;
  height: 20.4rem;
  display: block;
  margin: 0;
  padding: 5px 5px;
  float: left;
}
.row-profile {
  margin-left: 1px;
  margin-right: 1px;
}
table{
  width: 90%;
  border-collapse: collapse;
  border-spacing: 0;
}

table th,table td{
  padding: 10px 0;
}
tr.separate {
  border-bottom: solid;
  border-width: thin;
  border-bottom-color: #eee;
}
th {
  text-align: center;
  width: 100px;
  background-color: white;
}
td{
  text-align: center;
}
td.introduction {
  text-align: left;
  height: "100px";
}
.introduction-none {
  text-align: center;
}
td.user-name {
  text-align: left;
  background-color: white;
  padding-left: 15px;
}
/*
table tr:nth-child(odd){
  background-color: #eee
}
*/
.user_info {
  padding-bottom: 1rem;
}
.user_image {
  padding-bottom: 4rem;
}
th.stats {
  background-color: #f6f5f4;
}
td.stats{
  background-color: #f6f5f4;
}
.follow-section{
  padding-bottom: 5rem;
}
#follow_form {
  padding-left: 45px;
  padding-bottom: 15px;
}
/* edit-profile */
select {
  width: 110px;
  margin: 6px 0 0 0;
  padding: 2px 2px;
  background: none;
  border: groove;
  border-block-color: #212529;
  border-radius: 4px;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* post */

.post-form {
  background-color: rgba(0, 0, 0, 0.1);
  margin: 0 auto 1rem auto;
  padding: 25px;
  border-radius: 1rem;
  max-width: 550px;

  display: grid;
  grid-template-columns: 1fr;

  .preview-wrap {
    z-index: 1;
    cursor: pointer;
    position: relative;
    display: block;
    height: 0;
    width: 100%;
    padding-bottom: 100%;

    margin-bottom: 25px;
    @include md { & { margin-bottom: 0; } }

    .preview {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      @include box_sizing;
      border-radius: 1rem;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0; left: 0;
      width: 100%; height: 100%;
      display: block;
      background-color: rgba(0, 0, 0, 0.3);
      border-radius: 1rem;
    }

    .fa-camera {
      z-index: 10;
      font-size: 2.5rem;
      color: rgba(255, 255, 255, 0.74);
      position: absolute;
      top       : 50%;
      left      : 50%;
      transform : translate(-50%, -50%);
    }
  }

  .caption {
    color: $color-black;
    background-color: transparent;
    height: 150px;
    padding-top: 10px;
    border: none;
    &:focus {
      color: $color-black;
      outline: 0;
      box-shadow: none;
    }
  }
}
.post-body {
  padding: 15px 15px;
  @include sm { & { padding: 15px 0; } }

  p.post-text {
    overflow-wrap: break-word;
    word-wrap: break-word;
  }
}

/* edit post */
.post-form-btns.text-right.mb-4 {
  padding-top: 6px;
}

/* post show */

.post-container {
  margin: 0 -15px;
}
@include sm {
  .post-container {
    margin: 0;
  }
}
.like-form {
  padding: 5px 0 5px 0;
}
#post-dropdown {

  padding: 6px 4px;
}
.img-col {
  position: relative;
  
  &::after {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    display: block;
  }
}
@include sm {
  .img-col {
    img { border-radius: 0.25rem; }
    &::after {
      border-radius: 0.25rem;
    }
  }
}
.col.comment-form {
  padding-bottom: 30px;
  border-bottom: 1px solid #dee2e6;
}
.col.comment-index {
  padding-top: 30px;
  padding-bottom: 20px;
}

 /* notification */
.user-view.clearfix {
  border-bottom: 1px solid #dee2e6;
  padding-top: 10px;
  width: 50%;
}
.notification-time {
  padding: 2% 16.5%;
}