<p>
こんにちは、<%= @resource.user_name %>さん。<br>
パスワード再設定のリクエストを受け付けました。
</p>

<p>下記のリンクにアクセスしてパスワードを変更できます。</p>

<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>
もしこのメールに心当たりがなければ、無視してください。<br>
上記のリンクにアクセスして新しいパスワードを設定しない限り、<br>
あなたのパスワードが変更されることはありません。
</p>