<footer class="d-flex align-items-center justify-content-center">
  <ul class="footer">
    <li><%= link_to 'ROOMERって？', about_path %></li>
    <li><%= link_to '利用規約', tos_path %></li>
    <li><%= link_to "近くのインテリアショップを探す", maps_path %></li>
    <li>Copyright &copy;2020 ROOMER, All Rights Reserved.</li>
  </ul>
</footer>