<div class="inline-block">
  <%= form_tag(yield(:path), method: :get) do %>
    <%= hidden_field_tag :display_number, params[:display_number] %>
    <%= search_field_tag :search, params[:search], placeholder: "キーワード検索...", class: "searchfield" %>
    </span>
  <% end %>
</div>
