<div class="inline-block">
  <% if controller.controller_name == "users" and controller.action_name == "index" %>
    <%= search_form_for @search_user, url: users_path do |f| %>
      <button type="submit" class="searchbtn" id="searchbtn"><i class="fa fa-search" aria-hidden="true"></i></button>
      <%= f.text_field :user_name_cont ,placeholder: 'ユーザーを検索...', class: "searchfield" %>
    <% end %>
  <% else %>
    <%= search_form_for @search_post, url: posts_path do |f| %>
      <button type="submit" class="searchbtn" id="searchbtn"><i class="fa fa-search" aria-hidden="true"></i></button>
      <%= f.text_field :caption_cont, placeholder: 'キーワードを検索...', class: "searchfield" %>
    <% end %>
  <% end %>  
</div>
